* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    
}

.row {
    display: flex;
    flex-direction: row;
    border: 2px solid darkblue;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex: 1 1 auto;
}

.column {
    border: 2px solid darkgreen;
    flex: 1 1 auto;
}