* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}
.container {
    min-height: 92.8vh;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #800020;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    
}

.row {
    display: flex;
    flex-direction: row;
    border: 0.5px solid #800020;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex: 1 1 auto;
}

.column {
    border-left: 0.5px solid #800020;
    border-right: 0.5px solid #800020;
    flex: 1 1 auto;
}

.over  {
    background-color: #800020;
}

button {
    display: block;
    margin: 0 auto 3px auto;
}

h2 {
    text-align: center;
    margin: 3px;
}